@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: orbitron;
        src: url('../assets/fonts/orbitron.ttf');
    }
}

@font-face {
    font-family: "orbitron";
    src: url("../assets/fonts/orbitron.ttf");
}

body {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)),
    linear-gradient(250deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.2) 50%),
    linear-gradient(250deg, rgba(255,255,255,0) 23%, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.2) 50%),
    linear-gradient(250deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.2) 50%),
    repeating-linear-gradient(179deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 5px);;

    background-color: #3B3737;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "orbitron";
}
